## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [3]:
# importando bibliotecas
import pandas as pd
import numpy as np

# gerando a quantidade de acertos pra cada aluno com base num índice de 0 a 100.
np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])
df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])
df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])
df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])
df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

Primeiramente, para começarmos com essa atividade, iremos criar um DataFrame concatenado entre todos os DF anteriores, assim, teremos um único DataFrame mostrando as notas de todos os alunos, e poderemos operar em cima deste DataFrame único.

In [4]:
# criando um novo DataFrame, usando os DataFrames atribuídos para cada nota.
df = pd.DataFrame({
    'Matemática': df_mat['Qt_acertos'].values,  
    'Português': df_por['Qt_acertos'].values,
    'Geografia': df_geo['Qt_acertos'].values,
    'Inglês': df_ing['Qt_acertos'].values,
    'História': df_his['Qt_acertos'].values,
    'Física': df_fis['Qt_acertos'].values,
    'Química': df_qui['Qt_acertos'].values
})


df

    Matemática  Português  Geografia  Inglês  História  Física  Química
0            6          7          7       3         1       8        3
1           19         10          0       0         0      11        8
2           14         16          0       5         7       4        4
3           10          7          3       4         0       0        8
4            7          2          2       7         0       9        3
..         ...        ...        ...     ...       ...     ...      ...
95           6          4          7       1         4       9        3
96           8          1          4       6         1       4        3
97          23          5          0       2         4       1        5
98           0         10          3       1         5      10       11
99          11         15          0       1         6       7        2

[100 rows x 7 columns]

In [5]:
# 1) Calculando a taxa de acertos pra cada aluno
# Vamos criar um novo DataFrame, para que comporte a taxa de acertos de cada um dos alunos nos índices com base na qtd. de questões de cada matéria

percentuais = pd.DataFrame({
    'Matemática': (df['Matemática'] / 24) * 100,
    'Português': (df['Português'] / 18) * 100,
    'Geografia': (df['Geografia'] / 8) * 100,
    'Inglês': (df['Inglês'] / 8) * 100,
    'História': (df['História'] / 8) * 100,
    'Física': (df['Física'] / 12) * 100,
    'Química': (df['Química'] / 12) * 100
}).round(2)

percentuais

    Matemática  Português  Geografia  Inglês  História  Física  Química
0        25.00      38.89       87.5    37.5      12.5   66.67    25.00
1        79.17      55.56        0.0     0.0       0.0   91.67    66.67
2        58.33      88.89        0.0    62.5      87.5   33.33    33.33
3        41.67      38.89       37.5    50.0       0.0    0.00    66.67
4        29.17      11.11       25.0    87.5       0.0   75.00    25.00
..         ...        ...        ...     ...       ...     ...      ...
95       25.00      22.22       87.5    12.5      50.0   75.00    25.00
96       33.33       5.56       50.0    75.0      12.5   33.33    25.00
97       95.83      27.78        0.0    25.0      50.0    8.33    41.67
98        0.00      55.56       37.5    12.5      62.5   83.33    91.67
99       45.83      83.33        0.0    12.5      75.0   58.33    16.67

[100 rows x 7 columns]

In [6]:
# 2) Total de Acertos
# vamos criar uma nova coluna no DataFrame, que comporta o número total de acertos de cada aluno

df['Total de Acertos'] = df.sum(axis=1)
df

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total de Acertos
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
3,10,7,3,4,0,0,8,32
4,7,2,2,7,0,9,3,30
...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34
96,8,1,4,6,1,4,3,27
97,23,5,0,2,4,1,5,40
98,0,10,3,1,5,10,11,40
99,11,15,0,1,6,7,2,42

In [7]:
# 3) Calculando o percentual geral de cada aluno, considerando que o total de questões é 90:

df['Percentual Geral'] = ((df['Total de Acertos'] / 90) * 100).round(2)

df

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total de Acertos,Percentual Geral
0,6,7,7,3,1,8,3,35,38.89
1,19,10,0,0,0,11,8,48,53.33
2,14,16,0,5,7,4,4,50,55.56
3,10,7,3,4,0,0,8,32,35.56
4,7,2,2,7,0,9,3,30,33.33
...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34,37.78
96,8,1,4,6,1,4,3,27,30.00
97,23,5,0,2,4,1,5,40,44.44
98,0,10,3,1,5,10,11,40,44.44
99,11,15,0,1,6,7,2,42,46.67

In [8]:
# 4) Aplicando uma nota de corte de '45' para os aprovados
# vamos criar uma nova coluna que filtra apenas os valores acima de 45, para sabermos quantos alunos seriam aprovados nesse vestibular com nota de corte de 45.

df['Aprovado'] = df['Percentual Geral'] > 45

aprovados = df[df['Aprovado'] == True]
aprovados

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total de Acertos,Percentual Geral,Aprovado
1,19,10,0,0,0,11,8,48,53.33,True
2,14,16,0,5,7,4,4,50,55.56,True
5,20,2,5,3,2,9,9,50,55.56,True
7,18,4,4,7,7,1,8,49,54.44,True
8,22,9,2,7,6,5,7,58,64.44,True
11,23,6,2,0,6,4,2,43,47.78,True
12,20,8,3,7,1,0,3,42,46.67,True
17,21,15,2,2,4,2,6,52,57.78,True
18,20,4,3,5,3,11,4,50,55.56,True
20,23,11,6,5,6,2,0,53,58.89,True
24,20,2,7,5,3,11,2,50,55.56,True
27,21,13,1,5,7,3,0,50,55.56,True
29,16,0,0,2,7,11,8,44,48.89,True
31,15,13,3,1,3,9,10,54,60.00,True
34,18,14,1,0,6,3,3,45,50.00,True
35,11,14,6,3,3,0,11,48,53.33,True
36,22,9,6,6,1,4,8,56,62.22,True
37,19,12,5,7,1,6,2,52,57.78,True
39,4,16,2,4,6,9,8,49,54.44,True
40,18,3,6,3,6,5,6,47,52.22,True
42,20,6,7,7,2,3,3,48,53.33,True
44,6,14,7,3,1,3,9,43,47.78,True
45,17,10,0,2,6,9,4,48,53.33,True
48,17,6,0,7,5,9,11,55,61.11,True
50,20,9,0,3,1,7,3,43,47.78,True
51,1,12,7,3,5,4,10,42,46.67,True
52,19,5,5,5,0,3,4,41,45.56,True
53,14,11,3,4,3,7,3,45,50.00,True
55,11,10,4,4,5,1,6,41,45.56,True
60,16,8,0,4,4,7,9,48,53.33,True
62,17,6,2,4,7,1,9,46,51.11,True
67,21,0,7,2,4,2,10,46,51.11,True
68,9,9,5,3,6,10,1,43,47.78,True
70,21,14,0,3,5,11,8,62,68.89,True
71,17,8,7,6,4,2,9,53,58.89,True
72,11,16,3,4,7,0,9,50,55.56,True
75,3,6,7,6,6,9,5,42,46.67,True
77,15,2,5,7,6,11,7,53,58.89,True
78,14,16,7,2,7,11,9,66,73.33,True
80,13,16,5,1,7,2,1,45,50.00,True
81,22,16,2,0,4,1,10,55,61.11,True
82,7,16,7,1,1,2,9,43,47.78,True
83,20,1,5,6,3,6,1,42,46.67,True
88,20,1,1,5,7,9,7,50,55.56,True
89,23,11,7,7,6,9,0,63,70.00,True
93,12,16,5,5,6,6,6,56,62.22,True
99,11,15,0,1,6,7,2,42,46.67,True

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [14]:
# 1) Criando um novo DataFrame com os alunos desqualificados

df_desqualificados = df[
    (df['Matemática'] == 0) | 
    (df['Física'] == 0) | 
    (df['Química'] == 0)
]

df_desqualificados

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total de Acertos,Percentual Geral,Aprovado
3,10,7,3,4,0,0,8,32,35.56,False
6,6,0,7,7,5,0,4,29,32.22,False
10,10,8,3,2,1,7,0,31,34.44,False
12,20,8,3,7,1,0,3,42,46.67,False
14,7,11,1,7,1,4,0,31,34.44,False
20,23,11,6,5,6,2,0,53,58.89,False
25,0,4,7,4,0,4,8,27,30.00,False
26,11,14,6,2,7,0,0,40,44.44,False
27,21,13,1,5,7,3,0,50,55.56,False
33,14,8,0,5,6,6,0,39,43.33,False
35,11,14,6,3,3,0,11,48,53.33,False
49,8,1,1,0,1,0,8,19,21.11,False
56,7,6,7,5,6,0,8,39,43.33,False
65,1,8,2,4,3,0,6,24,26.67,False
66,5,4,3,6,3,0,10,31,34.44,False
72,11,16,3,4,7,0,9,50,55.56,False
73,1,16,2,4,3,0,11,37,41.11,False
74,9,11,0,7,5,7,0,39,43.33,False
84,15,1,0,5,1,0,4,26,28.89,False
89,23,11,7,7,6,9,0,63,70.00,False
92,14,10,1,6,1,8,0,40,44.44,False
94,0,5,2,6,1,3,8,25,27.78,False
98,0,10,3,1,5,10,11,40,44.44,False

In [17]:
# 2) Quantidade de alunos desqualificados

total_desqualificados = len(df_desqualificados)
total_desqualificados

23

In [27]:
# 3) Média dos alunos desqualificados em História e Geografia:

media_historia = (((df_desqualificados['História'].mean()) / 8) * 100).round(2)
media_geografia = (((df_desqualificados['Geografia'].mean()) / 8) * 100).round(2)

print(media_historia, media_geografia)

42.93 40.22

In [31]:
# 4) total de alunos que foram aprovados, ou seja, que não tiveram nota menor de 45 e nem foram desqualificados:

df_aprovados = df[
    (df['Aprovado'] == True) &
    (df['Matemática'] != 0) &
    (df['Física'] != 0) &
    (df['Química'] != 0)
]

df_aprovados

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total de Acertos,Percentual Geral,Aprovado
1,19,10,0,0,0,11,8,48,53.33,True
2,14,16,0,5,7,4,4,50,55.56,True
5,20,2,5,3,2,9,9,50,55.56,True
7,18,4,4,7,7,1,8,49,54.44,True
8,22,9,2,7,6,5,7,58,64.44,True
11,23,6,2,0,6,4,2,43,47.78,True
17,21,15,2,2,4,2,6,52,57.78,True
18,20,4,3,5,3,11,4,50,55.56,True
24,20,2,7,5,3,11,2,50,55.56,True
29,16,0,0,2,7,11,8,44,48.89,True
31,15,13,3,1,3,9,10,54,60.00,True
34,18,14,1,0,6,3,3,45,50.00,True
36,22,9,6,6,1,4,8,56,62.22,True
37,19,12,5,7,1,6,2,52,57.78,True
39,4,16,2,4,6,9,8,49,54.44,True
40,18,3,6,3,6,5,6,47,52.22,True
42,20,6,7,7,2,3,3,48,53.33,True
44,6,14,7,3,1,3,9,43,47.78,True
45,17,10,0,2,6,9,4,48,53.33,True
48,17,6,0,7,5,9,11,55,61.11,True
50,20,9,0,3,1,7,3,43,47.78,True
51,1,12,7,3,5,4,10,42,46.67,True
52,19,5,5,5,0,3,4,41,45.56,True
53,14,11,3,4,3,7,3,45,50.00,True
55,11,10,4,4,5,1,6,41,45.56,True
60,16,8,0,4,4,7,9,48,53.33,True
62,17,6,2,4,7,1,9,46,51.11,True
67,21,0,7,2,4,2,10,46,51.11,True
68,9,9,5,3,6,10,1,43,47.78,True
70,21,14,0,3,5,11,8,62,68.89,True
71,17,8,7,6,4,2,9,53,58.89,True
75,3,6,7,6,6,9,5,42,46.67,True
77,15,2,5,7,6,11,7,53,58.89,True
78,14,16,7,2,7,11,9,66,73.33,True
80,13,16,5,1,7,2,1,45,50.00,True
81,22,16,2,0,4,1,10,55,61.11,True
82,7,16,7,1,1,2,9,43,47.78,True
83,20,1,5,6,3,6,1,42,46.67,True
88,20,1,1,5,7,9,7,50,55.56,True
93,12,16,5,5,6,6,6,56,62.22,True
99,11,15,0,1,6,7,2,42,46.67,True

Existe uma forma ainda mais curta de criar o df de aprovados, usando a função `.index` e `.isin()`, uma função para extrair o index e uma função para checar se um determinado valor está em um determinado local, respectivamente:

In [ ]:
df_aprovados_novo = df[
    (~df.index.isin(df_desqualificados.index)) &  # NÃO (~) está no index de desqualificados
    (df['Percentual Geral'] > 45) # Tem nota maior que 45
]

df_aprovados_novo

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total de Acertos,Percentual Geral,Aprovado
1,19,10,0,0,0,11,8,48,53.33,True
2,14,16,0,5,7,4,4,50,55.56,True
5,20,2,5,3,2,9,9,50,55.56,True
7,18,4,4,7,7,1,8,49,54.44,True
8,22,9,2,7,6,5,7,58,64.44,True
11,23,6,2,0,6,4,2,43,47.78,True
17,21,15,2,2,4,2,6,52,57.78,True
18,20,4,3,5,3,11,4,50,55.56,True
24,20,2,7,5,3,11,2,50,55.56,True
29,16,0,0,2,7,11,8,44,48.89,True
31,15,13,3,1,3,9,10,54,60.00,True
34,18,14,1,0,6,3,3,45,50.00,True
36,22,9,6,6,1,4,8,56,62.22,True
37,19,12,5,7,1,6,2,52,57.78,True
39,4,16,2,4,6,9,8,49,54.44,True
40,18,3,6,3,6,5,6,47,52.22,True
42,20,6,7,7,2,3,3,48,53.33,True
44,6,14,7,3,1,3,9,43,47.78,True
45,17,10,0,2,6,9,4,48,53.33,True
48,17,6,0,7,5,9,11,55,61.11,True
50,20,9,0,3,1,7,3,43,47.78,True
51,1,12,7,3,5,4,10,42,46.67,True
52,19,5,5,5,0,3,4,41,45.56,True
53,14,11,3,4,3,7,3,45,50.00,True
55,11,10,4,4,5,1,6,41,45.56,True
60,16,8,0,4,4,7,9,48,53.33,True
62,17,6,2,4,7,1,9,46,51.11,True
67,21,0,7,2,4,2,10,46,51.11,True
68,9,9,5,3,6,10,1,43,47.78,True
70,21,14,0,3,5,11,8,62,68.89,True
71,17,8,7,6,4,2,9,53,58.89,True
75,3,6,7,6,6,9,5,42,46.67,True
77,15,2,5,7,6,11,7,53,58.89,True
78,14,16,7,2,7,11,9,66,73.33,True
80,13,16,5,1,7,2,1,45,50.00,True
81,22,16,2,0,4,1,10,55,61.11,True
82,7,16,7,1,1,2,9,43,47.78,True
83,20,1,5,6,3,6,1,42,46.67,True
88,20,1,1,5,7,9,7,50,55.56,True
93,12,16,5,5,6,6,6,56,62.22,True
99,11,15,0,1,6,7,2,42,46.67,True

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [71]:
# usamos um novo caminho de arquivo, devido ao link da web estar quebrado.
# como o novo arquivo está dividido em 5 partes, iremos concatenar os DataFrames para obter os dados totais de vacinação no acre:

arquivo_1 = r'F:\Computação\EBAC\4. Python em Ciência de Dados\1. Introdução ao Pandas e carga de dados\dadosvacinacaoacre pt1.csv'
arquivo_2 = r'F:\Computação\EBAC\4. Python em Ciência de Dados\1. Introdução ao Pandas e carga de dados\dadosvacinacaoacre pt2.csv'
arquivo_3 = r'F:\Computação\EBAC\4. Python em Ciência de Dados\1. Introdução ao Pandas e carga de dados\dadosvacinacaoacre pt3.csv'
arquivo_4 = r'F:\Computação\EBAC\4. Python em Ciência de Dados\1. Introdução ao Pandas e carga de dados\dadosvacinacaoacre pt4.csv'
arquivo_5 = r'F:\Computação\EBAC\4. Python em Ciência de Dados\1. Introdução ao Pandas e carga de dados\dadosvacinacaoacre pt5.csv'

df_vacinas_1 = pd.read_csv(arquivo_1, sep=';', decimal=',')
df_vacinas_2 = pd.read_csv(arquivo_2, sep=';', decimal=',')
df_vacinas_3 = pd.read_csv(arquivo_3, sep=';', decimal=',')
df_vacinas_4 = pd.read_csv(arquivo_4, sep=';', decimal=',')
df_vacinas_5 = pd.read_csv(arquivo_5, sep=';', decimal=',')

df_vacinas = pd.concat([df_vacinas_1, df_vacinas_2, df_vacinas_3, df_vacinas_4, df_vacinas_5], ignore_index=True)

In [72]:
df_vacinas.head(5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,b63af233-21d8-4af7-9aa9-3f8ff6285753-i0b0,3fdd86b8842269eda2dd906eb0aa15473ae1b5f8e64f1c...,49.0,1972-03-16,M,3.0,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-25,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,fad14228-9e6e-4895-8dd5-d590bceaa136-i0b0,9f7c6a218929e7cd3763aaf6174b3bd104a79d5f9fb796...,16.0,2005-06-27,M,99.0,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FD7221,PFIZER,Organization/00394544000851,2021-08-13,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,ad099eee-6582-4fa0-ac02-c520237d7eed-i0b0,f56c5670b9907b8ca51387a37b67dfe41a203b3688bbe1...,20.0,2001-01-15,M,5.0,INDIGENA,120035.0,10.0,MARECHAL THAUMATURGO,...,7.0,Povos Indígenas,219VCD268W,ASTRAZENECA/FIOCRUZ,Organization/149,2022-01-12,Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
3,fadbea84-381c-4e84-920c-fdd146d96744-i0b0,59ea685f572ee8be8c48fef8962167a2b96ab5627613a2...,30.0,1993-11-30,F,3.0,PARDA,120040.0,10.0,RIO BRANCO,...,21.0,Gestantes,230165,BUTANTAN,152,2024-03-05,Única,33,INF3,Novo PNI
4,bdad6954-8116-4dc1-8399-6ac77025deab-i0b0,ee602301bbb261956818bd58c5b213051e0347020e72c0...,49.0,1974-04-25,F,3.0,PARDA,130260.0,10.0,MANAUS,...,2.0,Faixa Etária,230165,BUTANTAN,152,2023-12-08,Única,33,INF3,Novo PNI

In [73]:
# 1) Quantas vacinas no total?
# considerando que cada linha é uma vacina, o total de vacinas pode ser dado pelo tamanho (len) do DataFrame:

total_vacinas = len(df_vacinas)
total_vacinas

1950411

In [74]:
# 2) Quantos pacientes no total?
# cada valor único de paciente_id é um paciente, logo:

df_vacinas['paciente_id'].nunique()

775165

In [75]:
df_vacinas.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [76]:
df_vacinas['vacina_descricao_dose'].unique()

array(['2ª Dose', '1ª Dose', 'Reforço', 'Única', '2º Reforço', 'Dose',
       '1º Reforço', 'Dose Adicional', '1ª Dose Revacinação',
       'Revacinação', '2ª Dose Revacinação', '3ª Dose',
       '3ª Dose Revacinação', '3º Reforço', '4ª Dose Revacinação',
       '5ª Dose Revacinação', nan], dtype=object)

In [77]:
# 3) Quantos pacientestomaram a primeira dose?
# vamos analisar a coluna vacina_descricao_dose para saber quantos tomaram a primeira dose da vacina.

qt_primeira_dose = (df_vacinas['vacina_descricao_dose'] == '1ª Dose').sum()
qt_primeira_dose

np.int64(719595)

In [78]:
# 4) Quantos pacientes com menos de 18 anos foram vacinados?

qt_menor_18 = (df_vacinas['paciente_idade'] <= 18).sum()
qt_menor_18

np.int64(433891)

In [ ]:
# 5) Quantos estabelecimentos diferentes?

qt_estabelecimentos = df_vacinas['estabelecimento_razaoSocial'].nunique()
qt_estabelecimentos

65

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [86]:
# 1) Criando um novo DataFrame apenas com os dados dos vacinados com menos de 18 anos:

df_menor_18 = df_vacinas[df_vacinas['paciente_idade'] < 18]
df_menor_18

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
1,fad14228-9e6e-4895-8dd5-d590bceaa136-i0b0,9f7c6a218929e7cd3763aaf6174b3bd104a79d5f9fb796...,16.0,2005-06-27,M,99.0,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FD7221,PFIZER,Organization/00394544000851,2021-08-13,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
11,fbc8c10d-e07f-45a8-bcc1-e35283e01f2b-i0b0,641d0e0d0185cef7922557a8db22d22c4032fe003a199e...,7.0,2014-10-13,M,99.0,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,NaN,NaN,FP8290,Pendente Identificação,Organization/28290,2022-02-11,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
21,fc9c11c2-ea7e-45c8-8b4d-66905d0389a2-i0b0,5bf01d9c20b743f86dd7d30c0834f80aec3ef226e06f65...,15.0,2006-05-23,F,4.0,AMARELA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,32010BD,PFIZER,Organization/00394544000851,2021-11-08,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
24,1304c9f4-4476-4f5e-8b33-2bf1d2baefb9-i0b0,23b8092313ef83ad24063b949f2f674023767505d7127a...,11.0,2011-07-10,M,3.0,PARDA,120013.0,10.0,BUJARI,...,2.0,Faixa Etária,FP0362,PFIZER - PEDIÁTRICA,28290,2023-04-10,1º Reforço,99,COVID-19 PFIZER - COMIRNATY PEDIÁTRICA,Novo PNI
37,fd9af33e-8a1b-4cd6-bc84-10d082c7bae6-i0b0,b46e5e8b884999b44412de53088a7d2e4279818a60463a...,3.0,2021-06-08,F,3.0,PARDA,120060.0,10.0,TARAUACA,...,2.0,Faixa Etária,026A24A,Pendente Identificação,35978,2024-07-30,2ª Dose,97,COVID-19 MODERNA - SPIKEVAX,Novo PNI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1950383,99c8c919-2575-4dcf-b594-b6a1180dfb21-i0b0,8175777f1e7fc6a06eacf8ac4a37a91c4e9eab9e63cfae...,8.0,2014-03-30,F,3.0,PARDA,120070.0,10.0,XAPURI,...,NaN,NaN,FP8290,Pendente Identificação,Organization/28290,2022-04-11,2ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
1950384,99c995a9-59e3-40c0-b4f9-ee437ebdb00c-i0b0,64f1274fc407d7f7be25379d995250ce247ebac6d73b42...,17.0,2004-06-26,F,3.0,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-05,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1950400,9beb5f99-af4d-4ecb-8ba8-f0788df20cda-i0b0,e111992aae1a1e7df7834300e9caba9da3c0c03e87bebe...,0.0,2023-08-01,F,3.0,PARDA,520870.0,10.0,GOIANIA,...,2.0,Faixa Etária,GX6964,PFIZER - PEDIÁTRICA MENOR DE 5 ANOS,28290,2024-03-11,1ª Dose,102,COVID-19 PFIZER - COMIRNATY PEDIÁTRICA MENOR D...,Novo PNI
1950404,9cf7e653-60ef-46c8-aaff-e3e4ea4e8df0-i0b0,71cce95b0d67e0b2eeebbb90e125f44788f63c28249abb...,16.0,2005-09-04,F,99.0,SEM INFORMACAO,130406.0,10.0,TABATINGA,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-10-18,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1950410,9dfc1308-83a5-4efb-89e1-b06886dd2169-i0b0,ab788c3c843bfc3200feeb43bba00599e17265d2c42ba7...,4.0,2018-06-01,M,3.0,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,210416,SINOVAC/BUTANTAN,152,2022-08-11,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI

In [124]:
# 2) Criando uma lista com as colunas do DataFrame

lista_colunas = df_menor_18.columns.tolist()
lista_colunas

['document_id',
 'paciente_id',
 'paciente_idade',
 'paciente_dataNascimento',
 'paciente_enumSexoBiologico',
 'paciente_racaCor_codigo',
 'paciente_racaCor_valor',
 'paciente_endereco_coIbgeMunicipio',
 'paciente_endereco_coPais',
 'paciente_endereco_nmMunicipio',
 'paciente_endereco_nmPais',
 'paciente_endereco_uf',
 'paciente_endereco_cep',
 'paciente_nacionalidade_enumNacionalidade',
 'estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf',
 'vacina_grupoAtendimento_codigo',
 'vacina_grupoAtendimento_nome',
 'vacina_categoria_codigo',
 'vacina_categoria_nome',
 'vacina_lote',
 'vacina_fabricante_nome',
 'vacina_fabricante_referencia',
 'vacina_dataAplicacao',
 'vacina_descricao_dose',
 'vacina_codigo',
 'vacina_nome',
 'sistema_origem']

No exercício 3, ficou meio ambíguo o que é pra ser feito. Inseri duas tentativas distintas para resolução do exercício, uma que conta a quantidade de valroes únicos na coluna 'vacina_categoria_nome', e a outra que conta a quantidade de vacinações de cada estabelecimento:

In [ ]:
# 3, i) Contando valores únicos de vacina_categoria_nome no DataFrame:

df_menor_18['vacina_categoria_nome'].nunique()

17

In [120]:
# 3, ii) Contando a quantidade de vacinas de cada estabelecimento:

contagem_vacinas = df_menor_18.groupby('estabelecimento_razaoSocial').size().reset_index(name='quantidade_vacinas').sort_values(by='quantidade_vacinas', ascending=False)
contagem_vacinas

                          estabelecimento_razaoSocial  quantidade_vacinas
38                 PREFEITURA MUNICIPAL DE RIO BRANCO              137022
26            PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL               34384
29                      PREFEITURA MUNICIPAL DE FEIJO               24852
45                   PREFEITURA MUNICIPAL DE TARAUACA               23957
46                     PREFEITURA MUNICIPAL DE XAPURI               12739
42             PREFEITURA MUNICIPAL DE SENA MADUREIRA               11998
44           PREFEITURA MUNICIPAL DE SENADOR GUIOMARD               11816
19                  PREFEITURA MUN DE MAL THAUMATURGO               10678
4   DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...               10435
30                     PREFEITURA MUNICIPAL DE JORDAO                9627
12                            MUNICIPIO DE RIO BRANCO                7330
22               PREFEITURA MUNICIPAL DE ASSIS BRASIL                7118
51                       SECRETARIA MUNCIPAL DE SAUDE                7079
52                      SECRETARIA MUNICIPAL DE SAUDE                6874
23                  PREFEITURA MUNICIPAL DE BRASILEIA                6438
36                 PREFEITURA MUNICIPAL DE PORTO ACRE                6301
37               PREFEITURA MUNICIPAL DE PORTO WALTER                5181
21                 PREFEITURA MUNICIPAL DE ACRELANDIA                4750
33              PREFEITURA MUNICIPAL DE MANUEL URBANO                4729
28             PREFEITURA MUNICIPAL DE EPITACIOLANDIA                4596
39            PREFEITURA MUNICIPAL DE RODRIGUES ALVES                4545
20            PREFEITURA MUNICIIPAL DE SENA MADUREIRA                4466
40        PREFEITURA MUNICIPAL DE SANTA ROSA DO PURUS                4413
48                                      REDE DE FRIOS                4369
3     DISTRITO SANITARIO ESPECIAL INDIGENA ALTO JURUA                4348
41                      PREFEITURA MUNICIPAL DE SAUDE                4266
15                              POLO BASE DE TARAUACA                3536
31                PREFEITURA MUNICIPAL DE MANCIO LIMA                3425
25                   PREFEITURA MUNICIPAL DE CAPIXABA                2991
5   DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...                2390
49                      SECRETARIA DE ESTADO DE SAUDE                1471
10                  MUNICIPIO DE MARECHAL THAUMATURGO                1102
2   DISTRITO SANITARIO ESPECIAL DE SAUDE INDIGENA ...                 947
11                          MUNICIPIO DE PORTO WALTER                 617
47                   PREFEITURA MUNICIPAL MANCIO LIMA                 582
7                                 MINISTERIO DA SAUDE                 562
54                                USF AEROPORTO VELHO                 313
16                            PREFEITURA DE BRASILEIA                 245
9                            MUNICIPIO DE MANCIO LIMA                 220
17                          PREFEITURA DE MANCIO LIMA                 214
56                                USF LIDIA RODRIGUES                 211
24                     PREFEITURA MUNICIPAL DE BUJARI                 201
13                   MUNICIPIO DE SANTA ROSA DO PURUS                 118
43                    PREFEITURA MUNICIPAL DE SENADOR                 116
50              SECRETARIA DE ESTADO DE SAUDE DO ACRE                  92
18                       PREFEITURA DE SENA MADUREIRA                  89
8                              MUNICIPIO DE BRASILEIA                  80
35          PREFEITURA MUNICIPAL DE PLACIDO DE CASTRO                  72
34       PREFEITURA MUNICIPAL DE MARECHAL THAUMATURGO                  66
53         SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA                  54
55                                 USF BARRO VERMELHO                  45
32              PREFEITURA MUNICIPAL DE MANOEL URBANO                  29
14                      MUNICIPIO DE SENADOR GUIOMARD                  25
1                  CENTRAL MUNICIPAL DE REDE DE FRIOS                  15
57                                  USF SAO FRANCISCO                  11
0    ALERGOYMUNE CLINICA DE ALERGIA E IMUNIZACAO LTDA                   7
6                                 K M OLIVEIRA EIRELI                   6
27       PREFEITURA MUNICIPAL DE DE PLACIDO DE CASTRO                   4

O método abaixo uiliza a lista com as colunas do DataFrame que utilizamos anteriormente, e usa um recurso chamado *list comprehension* do Python para filtrar apenas os elementos da lista que possuem 'estabelecimento' nelas. Esse recurso pode ser melhor entendido aqui: https://www.w3schools.com/python/python_lists_comprehension.asp
Uma list comprehension facilita o processo de filtragem e manipulação de listas. Como nós já criamos uma lista com as colunas do DataFrame, usamos list comprehension para facilitar o processo de achar todas os itens contendo 'estabelecimento'.

In [125]:
# 4) Selecionando a lista de estabelecimentos usando list comprehension do Python:

colunas_estabelecimento = [col for col in lista_colunas if 'estabelecimento' in col] # esse código checa todas as colunas do DF e armazena em 'colunas_estabelecimento' todos que retornam True para 'estabelecimento' in col
colunas_estabelecimento

['estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']

In [116]:
df_menor_18.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

Como já temos uma lista de estabelecimentos, podemos usar essa lista para filtrar diretamente o DataFrame:

In [135]:
# 5) Usando a lista de estabelecimentos para filtrar o DataFrame:

df_estabelecimentos = df_menor_18.loc[:, colunas_estabelecimento]
df_estabelecimentos

,estabelecimento_valor,estabelecimento_razaoSocial,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
11,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
21,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
24,2001101,PREFEITURA MUNICIPAL DE PORTO ACRE,120080,PORTO ACRE,AC
37,3810771,PREFEITURA MUNICIPAL DE TARAUACA,120060,TARAUACA,AC
...,...,...,...,...,...
1950383,2001217,PREFEITURA MUNICIPAL DE XAPURI,120070,XAPURI,AC
1950384,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
1950400,2001829,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
1950404,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
1950410,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC

In [138]:
# 6) Por fim, iremos remover os duplicados do DataFrame anterior que criamos, assim obtendo um DataFrame com todos os dados de estabelecimento únicos:

df_estabelecimentos = df_estabelecimentos.drop_duplicates()
df_estabelecimentos

,estabelecimento_valor,estabelecimento_razaoSocial,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
24,2001101,PREFEITURA MUNICIPAL DE PORTO ACRE,120080,PORTO ACRE,AC
37,3810771,PREFEITURA MUNICIPAL DE TARAUACA,120060,TARAUACA,AC
40,468363,REDE DE FRIOS,120033,MANCIO LIMA,AC
46,2000903,PREFEITURA MUNICIPAL DE SENA MADUREIRA,120050,SENA MADUREIRA,AC
...,...,...,...,...,...
670713,5360080,PREFEITURA MUNICIPAL DE DE PLACIDO DE CASTRO,120038,PLACIDO DE CASTRO,AC
713440,5336171,SECRETARIA DE ESTADO DE SAUDE DO ACRE,120020,CRUZEIRO DO SUL,AC
871516,3595943,PREFEITURA MUNICIPAL DE PLACIDO DE CASTRO,120038,PLACIDO DE CASTRO,AC
1204095,3591018,PREFEITURA MUNICIPAL DE MARECHAL THAUMATURGO,120035,MARECHAL THAUMATURGO,AC
1528809,7448627,PREFEITURA MUNICIPAL DE RODRIGUES ALVES,120042,RODRIGUES ALVES,AC

### Recapitulando...
Nesse exercício, aprofundamos nossos conhecimentos de Pandas, especialmente na parte de filtragem e manipulação de dados e colunas. Utilizamos de recursos da biblioteca para filtrar, selecionar dados, criar novas colunas e gerar visualizações e estatísticas de dados agrupados, mostrando o poder e capacidade que a biblioteca Pandas tem e quão ágil e poderosa ela é para lidar com dados, mesmo com grandes volumes de dados como este DataFrame com dados de vacinação no Acre com mais de um milhão de linhas.

Nesta última atividade, filtramos o DataFrame original para criar um novo DataFrame contendo apenas as colunas relacionadas com estabelecimentos, de um DataFrame já filtrado para conter apenas os dados de pacientes com menos de 18 anos. Para isso, usamos alguns recursos do próprio Python, como *list comprehension* e laços de repetição, junto de poderosos métodos da biblioteca pandas, como .loc, .nunique, .groupby, etc.